.root {
    width: 100%;
    height: 100%;
    /* display: flex;
    flex-direction: column; */
    padding: 2em;
    box-sizing: border-box;
    background-color: #e2eef4;
}

canvas {
    width: 500px;
    height: 500px;
    background-color: #e2eef4
}
